<div class="side-bar-container">
  <nv-content></nv-content>
  <div class="nav-wrap" nv-class="_nav.active" nv-repeat="_nav in navs" nv-on:click="testS.update(100)">
      <a class="nav" routerTo="{_nav.to}">{{_nav.name}}</a>
      <div class="child-wrap" nv-if="_nav.child">
          <a class="nav nav-child" nv-repeat="_child in _nav.child" nv-class="_child.active" nv-on:click="location.set(_child.to)">{{_child.name}}</a>
      </div>
  </div>
  <button class="sidebar-toggle" nv-on:click="changeShowSideBar()">
      <div class="sidebar-toggle-button">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </button>
</div>